#body {
 
}
#box {
	color: yellow;
	font-weight: 500;
	text-align: center;
	height: 300px;
	background-color: none;
	margin: auto;
	border: 2px solid black;
	border-bottom: none;
}

input {
	color: black;
}

textarea {
	color: black;
}

#master {
	border: 2px solid black;
	border-top: 1px solid black;
}


h3 {
	color: yellow;
	font-weight: 500;
	margin: auto;
}

.comments {
	
	color: red;
	font-weight: 700;
	border: 2px solid black;
	border-bottom: 1px solid black;
}

#main {
	
	color: black;
	border: 2px solid black;
	border-bottom: 1px solid black;
}

p {
	color: yellow;
	font-weight: 500;
	background-color: gray
	border: 1px solid black;
	margin: 0;
	padding: 0;	}

delete {
	position: absolute;
	top: 100px;
}

.green {
	background-color: gray;
}

.greenText {
	color: green;
	float: right;
	margin-bottom: 20px;
	position: relative;
	bottom: 0px;
	right: 0px;

}

.white {
	color: green;
	float: right;
	margin-bottom: 20px;
	position: relative;
	bottom: 0px;
	right: 0px;
}

img {
	margin-top: 10px;
	float: left;
	height: 50px;
	width: 50px;
	background-color: gray;
}

